old/
helper_codes_gitignore
pathのメモ.txt
sample/output/
*.pyc
*.pyo
.installed.cfg
bin
develop-eggs
dist
downloads
eggs
parts
src/*.egg-info
lib
lib64
.gitignore
**/__pycache__/**
requirements.in
ハウスのポンチ絵.ipynb
canopy_photo_greenhouse_v2をまとめて動かす.py
canopy_geometryを動かす.py
